.manPressingLabtop{
    width: 65vw;
}
.accessGeneral{
    padding: 10px 20px;
}
.enhance{
    font-size: 4vw;
    margin-top: 20px;
}
.access{
    font-size: 6vw;
}
.unlock{
    font-size: 4vw;
}

@media (min-width:730px){
    .accessGeneral{
      padding: 20px 100px;
    }
  }