.createGeneral{
    padding: 10px 20px;
}
.mixedImage{
    width: 85vw;
}
.adjustText{
    font-size: 3.5vw;
}
@media (min-width: 478px) {
}
@media (min-width: 665px) {
}
@media (min-width:730px){
    .createGeneral{
        padding: 20px 100px;
    }
}
@media (min-width:1400px){
}