.getNotified{
    font-size: 6vw;
    max-width: 564px;
}
.getGeneral{
    padding: 10px 30px;
    align-items: center;
}

@media (min-width:400px) {
    .getNotified{
        font-size: 5.5vw;
    }
}
@media (min-width:919px) {
    .getNotified{
        font-size: 45px;
    }
}