.navContainer{
    padding: 0 100px;
}

.navigationLink{
    width: 56vw;
    max-width: 888px;
}
.links{
    width: 40vw;
    /* max-width: 482px; */
}
.switchmode{
    width: 254px;
    width: 254px;
}