@media (max-width: 992px) {
    .largeTxt{
        font-size: 43px;
        text-align: center;
    }
    .exploretxt{
        width: 100vw ;
    }
    .textcontainer{
        text-align: center;
    }
  }