.generalStay{
    padding: 10px 20px;
}
.groupPhotos{
    width:80vw;
    max-width: 1390px;
}
.textStay{
    font-size: 7vw;
}
@media (min-width:500px){
    .textStay{
        font-size: 6.5vw;
    }
}
@media (min-width:7500px){
    .textStay{
        font-size: 6vw;
    }
}
@media (min-width:1200px){
    .textStay{
        font-size: 63px;
}
.generalStay{
    padding: 20px 100px;
}
}